@model modulo_documentacion.Areas.Admin.Models.Basicas.Genero

<form class="form-horizontal" method="post" asp-action="_Edit" asp-controller="Genero">
    <div class="box-body">
        <div class="form-group">
            <label for="Descripcion" class="col-sm-2 control-label">Descripcion</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Descripcion" value="@Model.Descripcion">
            </div>
        </div>
   
        <input type="hidden" name="Id" value="@Model.Id" />
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
        &nbsp;
        <input type="submit" value="Guardar" class="btn btn-primary pull-right" />
    </div>
    <!-- /.box-footer -->
</form>