@model modulo_documentacion.Areas.Admin.Models.Basicas.Linea


<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planes" class="control-label"></label>
                <select asp-for="PlanesId" class="form-control" asp-items="@ViewBag.Planes"></select>
                <span asp-validation-for="PlanesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
