@using Commons.Models;
@model Page<modulo_documentacion.Areas.Albacea.Models.Albacea>

   


<box-header>
    <form asp-controller="Albacea" asp-action="CrearAlbacea" method="post">
        @if (Model.Items.Count() < 1)
        {
            <button type="submit" class="btn btn-info btn-sm">
                <i class="fa fa-plus"><span class="hidden-xs"> Nuevo Albacea </span></i>
            </button>
        }
        </form>
</box-header>
<box-body table="true">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items.OrderBy(x => x.FechaCreacion))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    <span class="label label-success" style="font-weight:800"> @Html.DisplayFor(modelItem => item.Estado.Descripcion)</span>
                </td>

                <td>
                    <a asp-route-id="@item.Id" asp-controller="PersonaAviso" asp-action="Index" title="Editar" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                    <a onclick="reporteAlbacea(@item.Id)" title="Ver" class="btn btn-success btn-xs"><i class="fa fa-file-text-o"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>

</box-body>
<box-footer page-update-div="tablaDeclaracionJurada"></box-footer>
<modal title="Albacea" function="reporteAlbacea" load-url="/Albacea/AlbaceaReportes/_ReporteIndividual/" size="Large"></modal>

