@model TelefoniaCargas.Models.Persona_Dependencia
@*@model TelefoniaCargas.Models.Persona*@

@{ ViewData["Title"] = "Crear"; }

<div class="row">
    <div class="col-sm-12 p-3">
        <form method="post" asp-action="_Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"> Seleccione la opcion a cargar</label>
                <select class="form-control" asp-for="Persona" asp-items="@Html.GetEnumSelectList<Persona.Tipos>()"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="Persona.Nombre" class="control-label"></label>
                <input asp-for="Persona.Nombre" class="form-control" />
                <span asp-validation-for="Persona.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.Apellido" class="control-label"></label>
                <input asp-for="Persona.Apellido" class="form-control" />
                <span asp-validation-for="Persona.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Persona.DNI" class="control-label"></label>
                <input asp-for="Persona.DNI" class="form-control" />
                <span asp-validation-for="Persona.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dependencia" class="control-label"></label>
                <select asp-for="DependenciaId" class="form-control" asp-items="@ViewBag.Dependencia"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Seleccionar" class="btn btn-success ml-1" />
            </div>
        </form>
    </div>
</div>


