@model modulo_documentacion.Areas.Admin.Models.Basicas.Equipo

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="_Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Imei" class="control-label"></label>
                <input asp-for="Imei" class="form-control" />
                <span asp-validation-for="Imei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accesorios" class="control-label"></label>
                <input asp-for="Accesorios" class="form-control" />
                <span asp-validation-for="Accesorios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gama" class="control-label"></label>
                <input asp-for="Gama" class="form-control" />
                <span asp-validation-for="Gama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condicion" class="control-label"></label>
                <input asp-for="Condicion" class="form-control" />
                <span asp-validation-for="Condicion" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <select asp-for="EmpresaId" class="form-control" asp-items="ViewBag.Empresa"></select>
                <span asp-validation-for="EmpresaId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <select asp-for="ModeloId" class="form-control" asp-items="ViewBag.Modelo"></select>
                <span asp-validation-for="ModeloId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <select asp-for="MarcaId" class="form-control" asp-items="ViewBag.Marca"></select>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoEquipo" class="control-label"></label>
                <select asp-for="EstadoEquipoId" class="form-control" asp-items="ViewBag.EstadoEquipo"></select>
                <span asp-validation-for="EstadoEquipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Linea" class="control-label"></label>
                <select asp-for="LineaId" class="form-control" asp-items="ViewBag.Linea"></select>
                <span asp-validation-for="LineaId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Planes" class="control-label"></label>
                <select asp-for="PlanesId" class="form-control" asp-items="ViewBag.Planes"></select>
                <span asp-validation-for="PlanesId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Modificar equipo" class="btn btn-success" />
                <button class="btn btn-info" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>
