@model modulo_documentacion.Areas.DUFI.Models.ExpedienteCD

    <form class="form-horizontal" method="post" asp-action="_CrearExpedienteCD" asp-controller="ExpedienteCD">
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3" hidden>
                        <label>¿Tiene expediente? </label>
                        <select asp-for="TieneExpediente" class="form-control">
                            <option selected hidden value="1">Seleccione</option>
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                        <span asp-validation-for="TieneExpediente" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 tiene">
                        <label>N° Expediente</label>
                        <input asp-for="NroExpediente" class="form-control" />
                        <span asp-validation-for="NroExpediente" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!----------------------------------- -->
            <div class="form-group tiene">
                <div class="row">
                    <div class="col-md-12">
                        <label>Causa Expediente</label>
                        <input asp-for="CausaExpediente" class="form-control" />
                        <span asp-validation-for="CausaExpediente" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <!----------------------------------- -->
            <div class="form-group tiene">
                <div class="row">
                    <div class="col-md-3">
                        <label>¿Actualizo expediente?</label>
                        <select asp-for="ActualizoExpediente" class="form-control" >
                        <option selected hidden value="">Seleccione</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                        </select>
                        <span asp-validation-for="ActualizoExpediente" class="text-danger"></span>
                    </div>
                    <div class="col-md-3 num">
                        <label>N° expediente actualizado</label>
                        <input asp-for="NroExpedienteAct" class="form-control" />
                        <span asp-validation-for="NroExpedienteAct" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="DufiId" value="@ViewBag.DufiId" />
            <div class="box-footer">
                <a asp-action="Index/@ViewBag.DufiId" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-info pull-right">Agregar</button>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            let a = $("#TieneExpediente").val();
            if (a == "1") {
                $('.tiene').show()
            }
            else {
                $('.tiene').hide();
            }
            let b = $("#ActualizoExpediente").val();
            if (b == "1") {
                $('.num').show()
            }
            else {
                $('.num').hide();
            }
        });
        $("#TieneExpediente").on("change", function () {
            let a = $(this).val();
            if (a == "1") {
                $('.tiene').show()
            }
            else {
                $('.tiene').hide();
                $("#NroExpediente").val('');
                $("#CausaExpediente").val('');
            }
        })
        $("#ActualizoExpediente").on("change", function () {
            let a = $(this).val();
            if (a == "1") {
                $('.num').show()
            }
            else {
                $('.num').hide();
                $("#NroExpedienteAct").val('');
            }
        })
    </script>