@{
    var applicationName = "Documentos";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@applicationName - @ViewBag.Title</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @await Component.InvokeAsync("RegisterCommonsOffline")

    <!-- FLOT CHARTS -->
    <script src="~/bower_components/Flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="~/bower_components/Flot/jquery.flot.resize.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="~/bower_components/Flot/jquery.flot.pie.js"></script>
    <!-- FLOT CATEGORIES PLUGIN - Used to draw bar charts -->
    @*<script src="~/bower_components/Flot/jquery.flot.categories.js"></script>*@
    <script src="~/bower_components/Flot/jquery.flot.categories.js"></script>

    <!-- JS DOCUMENTACION -->
    <script src="~/js/Documentacion.js"></script>
    <!-- CSS DOCUMENTACION -->
    <link rel="stylesheet" type="text/css" href="~/css/documentacion.css" />
</head>



@*BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|*@

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Main Header -->
        @await Component.InvokeAsync("Header")
        <!-- Left side column. contains the logo and sidebar -->
        @await Component.InvokeAsync("Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @await Component.InvokeAsync("PageHeader")
                @await Component.InvokeAsync("Breadcrumb")
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                @await Component.InvokeAsync("PageAlert")
                <section class="content no-padding">
                    @RenderBody()
                </section>
                @await Component.InvokeAsync("ConfirmModal")
            </section>
        </div>
        @await Component.InvokeAsync("Footer")
        @await Component.InvokeAsync("ControlSidebar")

    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
