@using Commons.Identity
@using Commons.Identity.Services
@using Microsoft.AspNetCore.Identity
@using Commons.Identity.Extensions
@using modulo_documentacion.Areas.Admin.Models.Basicas
@inject SignInManager<Usuario> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxQ-XnyKmKP11SQacp2IutD8Njt89ze2EIIN9AAtrEP5g83jI" class="user-image" alt="ui">
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs">@User.GetUserName()</span>
        </a>

        <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxQ-XnyKmKP11SQacp2IutD8Njt89ze2EIIN9AAtrEP5g83jI" class="img-circle" alt="User Image" />
                <p>

              @*      @User.GetLastName(), <span class="hidden-xs">@User.GetMiddleName()</span> @User.GetFirstName()*@
                    <small>Perfil de usuario</small>
                </p>
            </li>
            <!-- Menu Body -->
            @*<li class="user-body">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="#">Followers</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Sales</a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="#">Friends</a>
                        </div>
                    </div>
                </li>*@
            <!-- Menu Footer-->
            <li class="user-footer">
                <div class="pull-left">
                    <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Home/Index" method="post" id="logoutForm">
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Salir</a>
                    </form>
                </div>
            </li>
        </ul>
    </li>
}
else
{
    <li>
        <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
            <li><a asp-area="Identity" asp-page="/Account/Login">Iniciar sesion</a></li>
        </ul>
    </li>
}