@model TelefoniaCargas.Models.Planes

<div class="row p-3">
    <div class="col-md-12">
        <form method="post" asp-action="_Detalle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre_Plan" class="control-label"></label>
                <input asp-for="Nombre_Plan" class="form-control" readonly />
                <span asp-validation-for="Nombre_Plan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" readonly />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>
