@{
    ViewData["Title"] = "Lo sentimos...";
}


<div class="row">
    <div class="col-md-6 col-md-offset-4">

        <img src="~/img/SITIO-EN-CONSTRUCCION.jpg" alt="" style="width:80%" aligne="center">

        <p></p>

        <div class="row">
            <h2><i class="fa fa-warning text-info"></i> Aplicacion en Desarrollo </h2>

            <a href="~/Home/Privacy"> Volver a los Poyectos </a>
        </div>
    </div>
</div>
