@model modulo_documentacion.Areas.DDJJ.Models.DeclaracionJurada

<form class="form-horizontal" method="post" asp-action="_Create" asp-controller="DeclaracionJurada">
    <div class="box-body">
        <div class="form-group">
            <label for="Descripcion" class="col-sm-12">Ingrese una descripcion para la DDJJ</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" name="Descripcion" placeholder="Descripcion">
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a asp-action="GestionPersonal" class="btn btn-default">Cancelar</a>
        <button type="submit" class="btn btn-info pull-right">Crear</button>
    </div>
    <!-- /.box-footer -->
</form>

