@model modulo_documentacion.Areas.DDJJ.Models.DeclaracionJurada

<form asp-action="SolicitarModificacion">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            <textarea class="form-control" rows="3" name="observacion"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <input type="submit" class="btn btn-warning btn-block" value="Solicitar Modificacion" />
            <input type="hidden" name="id" value="@Model.ID" />
        </div>
    </div>
</form>
